:root {
    --bg: white;
    --bg2: rgb(240,240,240);
    
    --dark-text: rgb(37, 26, 41);
    --light-text: rgb(255, 254, 255);
    --grey-light: rgb(109, 109, 109);

    --primary-color: purple;
    --secondary-color: blue;

    /* ----- Dark colors ----- */
    --bg-dark: #2d2d2d;
    --bg-dark2: #444;

    --primary-dark: #e291e2;
    --secondary-dark: #29589a;
}
