:root {
    --bg: white;
    --bg2: rgb(240,240,240);
    
    --text: rgb(37, 26, 41);
    --white-text: white;
    --grey-light: rgb(109, 109, 109);

    --primary-color: purple;
    --secondary-color: blue;

    --header-blue: #5e61ee;
    --light-pink: #db39db;
    --light-blue: #44b9ff;
    --blue2: rgb(55, 56, 255);
    --blue: rgba(0,0,255,0.5);
}

/* ----- Dark colors ----- */

body.dark {
    --bg: #2d2d2d;
    --bg2: #444;

    --text: rgb(255, 254, 255);

    --primary-color: #e291e2;
    --secondary-color: #29589a;
}