#main_form {
	display: flex;
	height: calc(100vh - 16px);
	justify-content: center;
	align-items: center;
}
#form_title {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}

#main_form > form {
	width: 600px;
}

.logo_form {
	width: 100px;
}

.card {
	border:solid;
	border-color: var(--primary-color);
	padding: 30px;
	border-radius: 10px;
}#logged {
	color: var(--text);
}

.input_7huy5 {
	background: var(--bg);
	border: none;
	border-bottom: 3px var(--primary-color) solid;
	color: var(--text);
	outline: 0;
	width: 100%;
	height: 25px;
	padding: 20px 10px;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 10px;
	transition: 0.2s;
}.input_7huy5:focus {
	border: 1px var(--primary-color) solid;
	border-bottom: 5px var(--primary-color) solid;
}

textarea.description {
	resize: vertical;
	background: rgba(0,0,0,0.05);
	min-height: 100px;
}

#main_form .checkbox{
	margin: 10px 4px 0 2px;
	transform: scale(1.4);
}

::placeholder {
	color: var(--grey-light);
}
.btn-rgst {
	margin: 20px 0;
	text-align: center;
}.btn-rgst a {
	color: var(--primary-color);
	text-decoration: none;
}

.btn button{
	width: 100%;
	border-radius: 30px;
	padding: 15px;
	color: white;
	border: 0px;
	outline: 0;
	background: linear-gradient(to left, var(--secondary-color), var(--primary-color));
	margin-top: 10px;
}

.btn button:hover {
	background: linear-gradient(to right, var(--secondary-color), var(--primary-color));;
	cursor: pointer;
}

#imglogo {
	position: absolute;
	left: 0;
	width: 100px;
}

.title {
	color: var(--primary-color);
}

.upload_buttons {
	margin: 40px 0;
	display: flex;
	justify-content: center;
}.upload_buttons > div {
	width: 100%;
	text-align: center;
}.upload_buttons .source_list {
	display: none;
}.upload_buttons .source_list.active {
	display: initial;
	list-style: none;
    background: var(--bg-dark2);
    height: 100px;
    max-height: 100px;
    padding: 10px;
    border-radius: 6px;
}

.upload_btn {
	background: none;
	border: none;
}.upload_btn:hover {
	cursor: pointer;
}.upload_btn .has_files {
	filter: drop-shadow(0 0 10px white);
}

.upload_icons {
	width: 70px;
}

.file_label {
	color: var(--text);
}

/*---------DARK COLORS---------*/
.dark .btn button {
	color: black;
}.dark textarea.description {
	background: rgba(0,0,0,0.2);
}
/*-----------------------------*/

@media only screen and (max-width: 600px){
	#main_form > form {
		width: 90%;
	}
	#form_title {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 0 20px 0;
	}#imglogo {
		position: initial;
		width: 80px;
		margin-bottom: 15px;
	}
}