@import url("fonts.css");
@import url("colors.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

:root {
	--limitarea: 800px;
}

* {
    margin: 0;
    padding: 0;
}

html {
	overflow-x: hidden;
}

body {
	background: var(--bg);
	transition: 0.2s;
}

.block_image_78ajoe {
	background: var(--bg2);
	display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
	display: none;
}

.pixel {
	font-family: 'Pixel Font', sans-serif;
}.small {
	font-size: 20px;
}.medium {
	font-size: 25px;
}.large {
	font-size: 30px;
}

/*
--> MESSAGES
*/

.message_box {
	display: flex;
    justify-content: center;
    animation: fade_on 0.5s forwards;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 10;
}.message_box.closing {
	animation: fade_off 0.5s forwards;
}
.message {
	text-align: center;
	font-size: 20px;
	padding: 13px 60px;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: monospace;
}.message:hover {
	cursor: pointer;
}.message.warning {
	background: rgba(250,100,100,1);
	border: solid 2px rgb(128, 48, 48);
	color: black;
}.message.success {
	background: #dcf0e2;
	border: solid 2px #cae8d4;
	color: black;
}

/*
------------
*/

.relative_block {
	position: relative;
}.flex_block {
	display: flex;
	align-items: center;
	justify-content: center;
}.flex_block.vertical {
	flex-direction: column;
    align-items: flex-start;
}

.field {
	font-size: 12px;
    color: var(--grey-light);
    font-family: Roboto;
}

.no_margin {
	margin: 0 !important;
}

thead .field {
	font-size: 20px;
}

.right-corner {
	position: absolute;
	top: 15px;
	right: 15px;
}

.flex_separate {
	justify-content: space-between;
}

.flex_block.left {
	text-align: left;
	justify-content: space-between;
	align-items: flex-start;
	margin-left: 10px;
}

.color {
	color: var(--text);
}

.confirm {
	border-radius: 10px;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}.confirm.delete {
	background: #e44a4a;
}.confirm.delete button {
	background: #ff6f6f;
    border: solid 2px #ffd3d3;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}.confirm.delete button:hover {
	background: white;
	border: solid 2px white;
}.confirm p {
	font-family: 'Quicksand';
    font-size: 25px;
    margin-bottom: 10px;
}
#black_screen_of_decision {
	transform: scale(0);
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	top: 0;
	transition: 0.2s;
}#black_screen_of_decision.active {
	transform: scale(1);
}

.header_landing {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, transparent, var(--blue)), url('../images/game_wallpaper.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-color: var(--header-blue);
}.header_landing > div {
	position: absolute;
	right: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}.header_text {
	z-index: 1;
	font-size: 60px;
	color: white;
}.header_text.italic_text {
	font-style: italic;
	font-family: 'Quicksand', sans-serif;
	filter: drop-shadow(-2px 2px 0 #e362e1) drop-shadow(-1px 1px 0 #e356e1);
	margin-top: -20px;
}.custom_shadow {
	position: absolute;
	top: 3px;
	left: -3px;
	background: -webkit-linear-gradient(var(--light-pink), var(--light-blue));
	-webkit-background-clip: text;
	-webkit-text-fill-color: var(--blue);
	-webkit-text-stroke: 4px transparent;
}.cshadow {
	margin-top: 10px;
}.emoji {
	font-size: 30px;
}

.gradient_line {
	display: block;
	background: linear-gradient(to right, var(--light-pink), var(--light-blue));
	width: 80%;
	height: 6px;
	opacity: 0.5;
	margin: 20px 0;
}

.block {
	font-family: 'Quicksand', sans-serif;
	padding: 40px 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}.block.normal {
	color: var(--blue_for_text);
}.block.reverse {
	background: var(--blue2);
	color: var(--white-text);
}.block.quote {
	padding: 40px 200px;
}.block h1 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-style: italic;
	font-size: 40px;
	margin-bottom: 20px;
}.block p {
	font-size: 20px;
}.block img {
	max-width: 250px;
    max-height: 250px;
}

.showcase {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	width: 100%;
	justify-items: center;
	grid-row-gap: 40px;
}.showcase .game_item {
	text-align: center;
	width: 250px;
}.showcase .game_item p {
	font-size: 18px;
	margin-bottom: 20px;
}.showcase .game_item img {
	margin-bottom: 25px;
}

.gradient_button {
	background: linear-gradient(to right, var(--light-pink), var(--light-blue));
	padding: 10px 30px;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 50px;
	text-decoration: none;
	color: white;
}

.contact h1 {
	background: -webkit-linear-gradient(0deg, var(--primary-color), var(--secondary-color));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: 170px;
}.contact form {
	width: 70%;
	flex-direction: column;
}.contact form > .contact_input, textarea {
	width: 100%;
	margin-top: 10px;
}.contact input, textarea {
	padding: 5px;
	box-sizing: border-box;
	border-image: linear-gradient(to right, var(--primary-color), var(--secondary-color)) 1;
	border-radius: 0;
}.contact input[type="button"] {
	border: solid 1px black;
	border-radius: 5px;
}.contact form > div {
	display: flex;
	width: 100%;
}.contact form > div .contact_input {
	width: 100%;
}.contact form > div .contact_input + .contact_input {
	margin-left: 10px;
}

.who_quote {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	justify-content: space-between;
	height: auto;
}.who_quote p + p {
	margin-top: 50px;
}

.quote_icon {
	fill: white;
	width: 90px;
	align-self: flex-start;
}.quote_icon.flipped {
	transform: rotate(180deg);
	align-self: flex-end;
}

footer {
	font-family: 'Quicksand', sans-serif;
	padding: 20px 50px;
	background: linear-gradient(var(--light-pink), var(--secondary-color));
	color: var(--white-text);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.no_result {
	background: var(--bg);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 95vh;
	font-family: mono;
}

.game_search {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-items: center;
	grid-row-gap: 30px;
	font-family: 'KoHo', sans-serif;
	font-size: 20px;
}.game_search .cartridge img {
	max-width: 300px;
	max-height: 150px;
	border-radius: 10px;
}.game_search .cartridge p {
	margin-top: 10px;
}.game_search .cartridge {
	display: flex;
	text-decoration: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: var(--bg2);
	box-sizing: border-box;
	padding: 20px;
	transition: 0.2s;
	border-radius: 5px;
	max-width: 330px;
	max-height: 350px;
}.game_search .cartridge:hover {
	transform: scale(1.1);
	box-shadow: 2px 5px 0 var(--primary-color), 5px 10px 0 var(--secondary-color);
}

.game_category {
	font-family: 'Blockt';
	font-size: 42px;
	margin: 20px 0 20px 30px;
}

.splide .game_item {
	background: var(--bg2);
	border: 2px solid var(--text);
	border-radius: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 230px;
	margin-bottom: 3px;
	text-decoration: none;
}.splide .block_image_78ajoe {
	height: 120px;
	width: 210px;
}
.splide .game_item img {
	max-height: 120px;
	max-width: 210px;
	border-radius: 10px;
}.splide .game_item .creator {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	margin-bottom: 60px;
}.splide .game_item .game_title {
	font-family: 'KoHo', sans-serif;
	font-size: 20px;
	margin: 20px 0;
}.gameboy.controller {
	position: absolute;
	bottom: 10px;
	left: 10px;
	filter: drop-shadow(1px 1px 0 black) drop-shadow(1px 1px 0 black);
}.gameboy.controller > span {
	background: #313131;
	display: inline-block;
	width: 60px;
	height: 60px;
	clip-path: polygon(0 35%, 35% 35%, 35% 0%, 65% 0%, 65% 35%, 100% 35%, 100% 66%, 65% 66%, 65% 100%, 35% 100%, 35% 65%, 0 65%);
	border-radius: 100%;
}

.gameboy.controller_btn {
	background: #602675;
	box-shadow: 2px 2px 0 #3e0b2a;
	width: 25px;
	height: 25px;
	position: absolute;
	bottom: 30px;
	right: 10px;
	border-radius: 100%;
}.gameboy.controller_btn + .gameboy.controller_btn {
	background: #a538cc;
	box-shadow: 2px 2px 0 #602675;
	bottom: 18px;
	right: 40px;
}

::scrollbar {
 width: 10px;
 height: 10px;
}
::scrollbar-thumb {
 background: linear-gradient(13deg, var(--primary-color) 14%,#c7ceff 55%);
 border-radius: 6px;
}
::scrollbar-thumb:hover{
 background: linear-gradient(13deg, #c7ceff 14%,#f9d4ff 64%);
}
::scrollbar-track{
 background: #ffffff;
 border-radius: 10px;
 box-shadow: inset 7px 10px 12px #f0f0f0;
}

.main_page {
	width: var(--limitarea);
	text-align: center;
}#game_thumb {
	background: black;
	max-height: 400px;
	max-width: 100%;
}
.game_infos {
	padding: 0 15px;
	box-sizing: border-box;
	transform: translateY(-50px);
	height: 100px;width: 100%;
	justify-content: space-between;
}.game_infos > div {
	display: flex;align-items: center;
}
.game_content {
	justify-content: space-between;
	align-items: flex-start;
}#game_9ka83l {
	width: 500px;
}

#game_description {
	background: var(--bg2);
    border-radius: 10px;
    min-height: 400px;
    padding: 10px;
    border: solid 1px var(--text);
	margin-top: 10px;
	text-align: left;
	font-family: monospace;
}

#description_header {
	font-family: monospace;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.profile_pic.postpage {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: solid 5px var(--bg);
}a.postpage + div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 15px;
}.info.postpage {
	color: white;
	font-family: monospace;
	font-size: 20px;
	text-align: left;
}.info.postpage + .info.postpage {
	margin-top: 15px;
}

.act_button {
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
	color: white;
	font-size: 20px;
	font-family: monospace;
	text-decoration: none;
}.act_button + .act_button {
	margin-left: 10px;
}
#playgame {
	background: #27c427;
}#editgame {
	background: #f09e00;
}#downloadgame {
	background: purple;
}

.play_emoji {
	font-size: 25px;
}

.recommended {
	text-align: left;
	font-family: monospace;
	width: 350px;
    margin-left: 10px;
} .recommended .block_image_78ajoe {
	width: 175px;
    height: 100px;
}.recommended img {
    max-width: 175px;
    max-height: 100px;
} .recommended .game_item {
	text-decoration: none;
	display: flex;
	margin-top: 10px;
} .recommended > p {
	color: var(--grey-light);
	text-align: right;
} .recommended .views {
	color: var(--grey-light);
} .recommended .game_item > .game_info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 10px;
}

#like_star {
	cursor: pointer;
	color: var(--primary-color);
}

.space {
	margin: 0 80px;
}

.btn{
	width: 100px;
	border-radius: 100px;
	padding: 15px;
	color: white;
	border: 0px;
	outline: 0;
	background: linear-gradient(to left, var(--secondary-color), var(--primary-color));
	cursor: pointer;
	margin-top: 10px;
}.btn.full {
	width: 100%;
}

.btn:hover {
	background: linear-gradient(to right, var(--secondary-color), var(--primary-color));;
}

#main_form {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-image: url(../images/wallpaper.jpg);
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}
#form_title {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}

#main_form > form {
	width: 600px;
	background: var(--bg);
}

.logo_form {
	width: 100px;
}

.formpage{
	border:solid;
	border-color: var(--primary-color);
	padding: 30px;
	border-radius: 10px;
	margin: none !important;
}

.input_7huy5 {
	background: var(--bg);
	border: none;
	border-bottom: 3px var(--primary-color) solid;
	outline: 0;
	width: 100%;
	height: 25px;
	padding: 20px 10px;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 30px;
	transition: 0.2s;
}.input_7huy5:focus {
	border: 1px var(--primary-color) solid;
	border-bottom: 5px var(--primary-color) solid;
}

textarea.description {
	resize: vertical;
	background: rgba(0,0,0,0.05);
	min-height: 100px;
}

#main_form .checkbox{
	margin: 10px 4px 0 2px;
	transform: scale(1.4);
}

::placeholder {
	color: var(--grey-light);
}
.btn-rgst {
	margin: 20px 0;
	text-align: center;
}.btn-rgst a {
	color: var(--primary-color);
	text-decoration: none;
}

#imglogo {
	position: absolute;
	left: 0;
	width: 100px;
}

.title {
	color: var(--primary-color);
}

.upload_buttons {
	margin: 40px 0;
	display: flex;
	justify-content: center;
}.upload_buttons > div {
	width: 100%;
	text-align: center;
}.upload_buttons .source_list {
	display: none;
}.upload_buttons .source_list.active {
	display: initial;
	list-style: none;
    background: var(--bg-dark2);
    height: 100px;
    max-height: 100px;
    padding: 10px;
    border-radius: 6px;
}

.upload_btn {
	background: none;
	border: none;
	cursor: pointer;
}.upload_btn .has_files {
	filter: drop-shadow(0 0 10px var(--primary-color));
}

.upload_icons {
	width: 70px;
}

.file_label {
	color: var(--text);
}

.information_btn {
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

/* MODAIS */
#information {
	display: initial;
	position: absolute;
	top: 0;
	background: var(--bg2);
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 10px;
	padding: 10px;
	color: var(--text);
	border: 1px var(--primary-color) solid;
	transform: scale(0);
	transform-origin: top right;
	transition: 0.1s;
}#information.active {
	transform: scale(1);
}

.card {
	position: relative;
	border:solid;
	border-color: var(--primary-color);
	padding: 20px;
	border-radius: 10px;
	margin-top: 30px;
}

.card-header {
	display: flex;
	align-items: center;
}.card-header img {
	width: 120px;
	height: 120px;
	border-radius: 100%;
}.card-header .username {
	margin-left: 15px;
	color: var(--text);
}

.card-group {
	display: flex;
	justify-content: space-between;
}


.history {
	border-collapse: collapse;
}

.history td {
	border-bottom: 1px solid grey;
	border-collapse: collapse;
	padding: 15px;
}

.history .block_image_78ajoe {
	width: 200px;
	height: 115px;
	border-radius: 5px;
}

.history .block_image_78ajoe img {
	max-width: 200px;
	max-height: 115px;
	border-radius: 5px;
}

.history .larger {
	width: 400px;
}

.history a.flex_block {
	justify-content: flex-start;
}

td.selected {
	background: var(--bg2);
}

thead td.selected {
	color: var(--primary-color);
}

#rgb_top_bar {
	position: sticky;
	top: 0;
	display: block;
	content: '';
	background: #ff2400;
	animation: rainbow 12s ease infinite;
	width: 100%;
	height: 4px;
	z-index: 10;
}

#navbar1991 {
	position: sticky;
	top: 4px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 5px 30px var(--grey-light);
	box-sizing: border-box;
	padding: 6px 14px 6px 6px;
	background: var(--bg);
	z-index: 10;
}

#navbar1991 img {
	width: 40px;
}

#navbar1991 .dropdown {
	display: block;
	content: '';
	width: 20px;
	height: 3px;
	border-radius: 10px;
	background: black;
	transition: 0.2s;
}#navbar1991 .dropdown + .dropdown {
	margin-top: 4px;
}

#navbar1991 #btn:hover {
	cursor: pointer;
}

#navbar1991 .search_box {
	background: var(--bg2);
	padding: 9px;
    box-sizing: border-box;
    width: 50vw;
    border-radius: 4px;
    border: none;
    outline: none;
}

.fade {
	display: initial;
	width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background: rgba(0,0,0,0.3);
}.fade:hover {
	cursor: pointer;
}.fade.disabled {
	display: none;
}

#btn.active :nth-child(1) {
	transform: translateY(4px) rotate(45deg);
}#btn.active :nth-child(3) {
	transform: translateY(-3px) rotate(-45deg);
}

#btn.active :nth-child(2) {
	display: none;
}

.dropdown_menu {
	position: fixed;
    transform: translateX(100%);
    width: 220px;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    transition: 0.2s;
	box-shadow: 0 3px 0 #ff2400;
	animation: rainbow_shadow 12s ease infinite;
	z-index: 10;
	right: 0;
}.dropdown_menu.active {
	transform: translateX(0);
}.dropdown_menu > a {
	padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
    font-family: Odin;
}.dropdown_menu > a:hover {
	background: grey;
}

.theme_switcher {
	float: right;
	margin: 5px 10px 5px 0;
	width: 30px;
}.theme_switcher:hover {
	cursor: pointer;
}


/*---------DARK COLORS---------*/
.dark .btn button {
	color: black;
}.dark textarea.description {
	background: rgba(0,0,0,0.2);
}.dark #main_form {
	background-image: url("../images/wallpaperdark.jpg");
}

.dark #navbar1991 .dropdown {
	background: var(--primary-color);
}.dark .dropdown_menu > a {
	color: var(--primary-color);
}.dark .dropdown_menu svg {
	fill: var(--primary-color);
}
/*-----------------------------*/

@media only screen and (max-width: 800px) {
	.header_landing {
		background-image: linear-gradient(to right, transparent, var(--blue));
	}.header_landing > div {
		position: initial;
	}.header_text {
		font-size: 40px;
	}.contact form {
		width: 100%;
	}.flex_block.who {
		flex-direction: column;
	}.block {
		padding: 40px 20px;
	}.block.quote {
		padding: 40px 20px;
	}.who_quote {
		margin-left: 0;
		margin-top: 20px;
	}.main_page {
		width: 100vw;
	}
}

@media only screen and (max-width: 600px){
	#main_form > form {
		width: 90%;
	}
	#form_title {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 0 20px 0;
	}#imglogo {
		position: initial;
		width: 80px;
		margin-bottom: 15px;
	}#information {
		left: 5%;
		right: 5%;
	}
}

@media only screen and (max-width:  500px) {
	.game_infos {
		flex-direction: column;
		height: auto;
		transform: translateY(0);
	}.game_infos > div + div {
		margin-top: 10px;
	}.game_content {
		flex-direction: column;
		align-items: center;
	}#game_9ka83l {
	    width: 95%;
    	margin-top: 30px;
	}.recommended {
		margin-left: 0;
		margin-top: 15px;
	}
}

@media only screen and (max-width: 400px) {
	.dropdown_menu {
		width: 100vw;
	}
}

@keyframes rainbow { 
    0%{background: #ff2400;}
    10%{background: #e81d1d;}
    20%{background: #e8b71d;}
    30%{background: #e3e81d;}
    40%{background: #1de840;}
    50%{background: #1ddde8;}
    60%{background: #2b1de8;}
    70%{background: #dd00f3;}
    80%{background: #dd00f3;}
}

@keyframes rainbow_shadow { 
    0%{box-shadow: 0 4px 0 #ff2400;}
    10%{box-shadow: 0 4px 0 #e81d1d;}
    20%{box-shadow: 0 4px 0 #e8b71d;}
    30%{box-shadow: 0 4px 0 #e3e81d;}
    40%{box-shadow: 0 4px 0 #1de840;}
    50%{box-shadow: 0 4px 0 #1ddde8;}
    60%{box-shadow: 0 4px 0 #2b1de8;}
    70%{box-shadow: 0 4px 0 #dd00f3;}
    80%{box-shadow: 0 4px 0 #dd00f3;}
}

@keyframes fade_on {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fade_off {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
