#rgb_top_bar {
	position: sticky;
	top: 0;
	display: block;
	content: '';
	background: #ff2400;
	animation: rainbow 12s ease infinite;
	width: 100%;
	height: 4px;
	z-index: 10;
}

#navbar1991 {
	position: sticky;
	top: 4px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 5px 30px var(--grey-light);
	box-sizing: border-box;
	padding: 6px 14px 6px 6px;
	background: var(--bg);
	z-index: 10;
}

#navbar1991 img {
	width: 40px;
}

#navbar1991 .dropdown {
	display: block;
	content: '';
	width: 20px;
	height: 3px;
	border-radius: 10px;
	background: black;
	transition: 0.2s;
}#navbar1991 .dropdown + .dropdown {
	margin-top: 4px;
}

#navbar1991 #btn:hover {
	cursor: pointer;
}

#navbar1991 .search_box {
	background: var(--bg2);
	padding: 9px;
    box-sizing: border-box;
    width: 50vw;
    border-radius: 4px;
    border: none;
    outline: none;
}

.fade {
	display: initial;
	width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background: rgba(0,0,0,0.3);
}.fade:hover {
	cursor: pointer;
}.fade.disabled {
	display: none;
}

#btn.active :nth-child(1) {
	transform: translateY(4px) rotate(45deg);
}#btn.active :nth-child(3) {
	transform: translateY(-3px) rotate(-45deg);
}

#btn.active :nth-child(2) {
	display: none;
}

.dropdown_menu {
	position: fixed;
    transform: translateX(100%);
    width: 220px;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    transition: 0.2s;
	box-shadow: 0 3px 0 #ff2400;
	animation: rainbow_shadow 12s ease infinite;
	z-index: 10;
	right: 0;
}.dropdown_menu.active {
	transform: translateX(0);
}.dropdown_menu > a {
	padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
    font-family: Odin;
}.dropdown_menu > a:hover {
	background: grey;
}

.theme_switcher {
	float: right;
	margin: 5px 10px 5px 0;
	width: 30px;
}.theme_switcher:hover {
	cursor: pointer;
}

/*----------------dark mode-----------------*/
.dark #navbar1991 .dropdown {
	background: var(--primary-color);
}.dark .dropdown_menu > a {
	color: var(--primary-color);
}.dark .dropdown_menu svg {
	fill: var(--primary-color);
}
/*------------------------------------------*/

@keyframes rainbow { 
    0%{background: #ff2400;}
    10%{background: #e81d1d;}
    20%{background: #e8b71d;}
    30%{background: #e3e81d;}
    40%{background: #1de840;}
    50%{background: #1ddde8;}
    60%{background: #2b1de8;}
    70%{background: #dd00f3;}
    80%{background: #dd00f3;}
}

@keyframes rainbow_shadow { 
    0%{box-shadow: 0 4px 0 #ff2400;}
    10%{box-shadow: 0 4px 0 #e81d1d;}
    20%{box-shadow: 0 4px 0 #e8b71d;}
    30%{box-shadow: 0 4px 0 #e3e81d;}
    40%{box-shadow: 0 4px 0 #1de840;}
    50%{box-shadow: 0 4px 0 #1ddde8;}
    60%{box-shadow: 0 4px 0 #2b1de8;}
    70%{box-shadow: 0 4px 0 #dd00f3;}
    80%{box-shadow: 0 4px 0 #dd00f3;}
}

@keyframes fade_on {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fade_off {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@media only screen and (max-width: 400px) {
	.dropdown_menu {
		width: 100vw;
	}
}