.card {
	position: relative;
	border:solid;
	border-color: var(--primary-color);
	padding: 20px;
	border-radius: 10px;
	margin-top: 30px;
}

.card-header {
	display: flex;
	align-items: center;
}.card-header img {
	width: 120px;
	height: 120px;
	border-radius: 100%;
}.card-header .username {
	margin-left: 15px;
	color: var(--text);
}

.card-group {
	display: flex;
	justify-content: space-between;
}


.history {
	border-collapse: collapse;
}

.history td {
	border-bottom: 1px solid grey;
	border-collapse: collapse;
	padding: 15px;
}

.history .block_image_78ajoe {
	width: 200px;
	height: 115px;
	border-radius: 5px;
}

.history .block_image_78ajoe img {
	max-width: 200px;
	max-height: 115px;
	border-radius: 5px;
}

.history .larger {
	width: 400px;
}

.history a.flex_block {
	justify-content: flex-start;
}

td.selected {
	background: var(--bg2);
}

thead td.selected {
	color: var(--primary-color);
}
